/* DEFAULTS */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #111112;
    color: white;
    margin-inline: 500px;
}
img{
    height: 100px;
    width: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
button{
    background-color: #0A0A0B;
    color: white;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(98, 98, 98, 0.3);
    border-radius: 9px;
    padding: 10px;
    font-weight: 600;
}

/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.navbar{
    display: flex;
}
.navbar > li{
    padding-left: 50px;
}

/* INTRO */

.Intro{
    border-style: solid;
    border-width: 2px;
    border-color: rgba(98, 98, 98, 0.3);
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 50px;
}
.Intro_socials{
    width: 35px;
    height: 35px;
    background-color: #0A0A0B;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(98, 98, 98, 0.3);
    border-radius: 8px;
}
#Intro_container{
    display: flex;
    justify-content: space-between;

}
#soc_container{
    display: flex;
}
#intro_loc{
    display: flex;
    color: #585858;
    padding-top: 5px;
    padding-bottom: 10px;
}
#intro_loc > img{
    height: 25px;
    width:auto;
    margin-inline:5px ;
}

/* Skills */
.Skills{
    display: flex;
    justify-content:center;
}
.Intro > p{
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 10px;
}



/* TEMP */
.menu{
    display: none;
    position: absolute;
}